{{ define "search" }}

<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body>
    {{ template "navbar" }}
    <form class="justify-content-center d-flex">
        <div class="form-group card w-50 align-items-center">
            <label for="search" class="mt-2 mb-2" style="font-size: xx-large">Search Movie</label>
            <input type="text" class="form-control" style="width: 600px" id="search" name="search" placeholder="Search Movie...">
            <span style="font-size: medium" class="text-success mt-2">Please enter movie name as `shawshank_redemption` & `avatar_the_way_of_water`</span>
            <button type="submit" class="btn btn-primary mt-2 mb-2" id="submit">Search</button>
        </div>
    </form>

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th scope="col">Headers</th>
            <th scope="col">Datas</th>
        </tr>
        </thead>
        <tbody>
        {{ range $index, $value := .Content }}
        <tr>
            <th scope="row">{{ index $.Headers $index }}</th>
            <td>{{ $value }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</body>
</html>

{{ end }}