{{ define "navbar" }}

<nav class="ms-3 mb-3 navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand me-4" href="/">
    <img src="http://2.bp.blogspot.com/-vGwjqrDPw4E/Vi6MkOFhbUI/AAAAAAAAAy4/4RTo5gO6-jg/s1600/golang.sh-600x600.png" class="me-2" style="width: 60px">
    <span>Movie App with GoLang</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="/search">Search Movies</a>
    </div>
  </div>
</nav>

{{ end }}